@inherits LayoutComponentBase

<main style="width: 100%; height: 100vh; margin: 0; padding: 0;">
    @Body
</main>

<style>
    /* Menü ve kenarlık sistemini tamamen devre dışı bırakıyoruz */
    .page {
        flex-direction: column !important;
    }

    .sidebar {
        display: none !important;
    }

    .top-row {
        display: none !important;
    }

    main {
        padding: 0 !important;
    }
</style>